
h4 {text-align: center}
.btn .caret {margin-left: 10px}
.btn-primary {background-color: #2A3F54;border-color: #2A3F54;color: #ffffff}
#dropdownMenu1 {margin: 0px} 
#dropdownMenu2 {margin-right: 20px}
#add_count {margin-left: 10px; width: 30%}
.container {margin-top: 50px}
.col-sm-10 > .row {margin: 20px 0 0 0}
.dropdown, #count {float: left} 
.dropdown-menu {min-width: 100px}
.btn {float: right; margin-left: 10px}
.cate_data {cursor: pointer}
.cate, .add_cate {background-color: transparent; border: 0px; width: 100%;}
thead > tr{background-color: antiquewhite}
#TypeModalBody > .modal-row {display: block; margin-left: 20%}
.modal-row {display: inline;}
.modal-row > p {width: 25%; display: inline-block; margin-bottom: 10px;}
.modal-row > .form-control {width: 50%; display: inline-block; margin-bottom: 10px}
#ParamModal > .modal-dialog > .modal-content > .modal-body > .modal-row {display: inline;}
#make_cate_name, #make_cate_serial {width: 50%}
.search {background-color: transparent}
.carousel-control.left, .carousel-control.right {background-image: none;}
.item {text-align: left;margin: 0px 0 0 20%;}
.btn-group {margin-bottom: 10px} 
.btn-group > .btn-primary {color: #2A3F54;background-color: #eee;border-color: #ddd;}
.btn-group > .btn-primary.active {background-color: #2A3F54;border-color: #2A3F54;color: #ffffff}
#Pparam_list {margin-top: 10px}
#Pparam_list > label, #param_list > label, #modify_param_list > label {border-radius: 5px; margin: 2px}
#Pparam_list > .btn.btn-primary {background-color: #2A3F54;border-color: #2A3F54;color: #ffffff}
#Pparam_list > label > input {border: 0px;background-color: transparent;color: white;}
.form-group {margin-top: 20px; border-top: 1px solid;padding-top: 10px;}
.file-input .file-input-new{margin-top: -20px;}
.file-preview, .form-control.file-caption.kv-fileinput-caption, .fileinput-remove-button, .fileinput-cancel-button, .fileinput-upload-button{display: none;}
.file-caption-main{width: 100%;}
.btn.btn-primary.btn-file{float: left;width: 100%;border-radius: 5px;}
.glyphicon {margin-left: 10px; z-index: 100}
.pagination{margin: 0px}

/*공통 UI*/
html,
body,
.container-fluid 
{
		height: 100%; 
}

.row.content {
		height: 100%;
}
/* Set gray background color and 100% height */

.sidenav {
		background-color: #2A3F54;
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
}

.navbar {
		background-color: #2A3F54;
}

.myside-title {
		font-size: 320%;
		font-family: "Times New Roman", Times, serif;
		font-weight: bolder;
		border-bottom: solid;
		border-bottom-width: thin;
		border-bottom-style: ridge;
		color: #fffff0;
		margin: 20px;
		margin-left: 10px;
}

.myside-menu {
		font-size: 170%;
		color: white;
		border-left: solid;
		border-left-color: #0ff09f;
		padding-left: 10px;
		margin-left: 4px;
		margin-top: 10px;
}

.myside-content.active > .myside-content-text {
		font-size: 110%;
		font-weight: 900;
		color: #303370;
		margin: 5px;
		margin-right: 0px;
		background-color: #ffffff;
}

.myside-content.active > .myside-content-text:hover{
		font-size: 110%;
		font-weight: bold;
		color: #002ff0;
		margin: 5px;
		margin-right: 0px;
		background-color: #ffffff;
}

.myside-content.active > .myside-content-text:focus{
		font-size: 110%;
		font-weight: 900;
		color: #303373;
		margin: 5px;
		margin-right: 0px;
		background-color: #ffffff;
}

.myside-content-text {
		font-size: 100%;
		color: #0ff09f;
		margin: 5px;
}

.myHeader-title {
		font-weight: bold;
		border-bottom: solid;
		border-bottom-color: #000000;
		border-bottom-width: thin;
		padding: 10px;
}

.myHeader-content {
		font-size: 110%;
		color: #2A3F54;
		margin: 12px;
}

.myTable {
	font-size: 100%
}

.myTable > thead > tr {
		background-color: #2A3F54;
		height: 50px;
		color: #ffffff;
}

.myTable > tbody > tr {
		background-color: #f8ffff;
		font-size: 107%;
}

.myTable > thead > tr > th,
.myTable > tbody > tr > td {
		vertical-align: middle;
}

.pagination > li.active > a, .pagination > li.active > a:hover, .pagination > li.active > a:focus{
		background-color: #2A3F54;
		border-color: #2A3F54;
}

.pagination>li>a, .pagination>li>span{
	color: #2A3F54;
}

/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
		.row.content {
				height: auto;
		}
}
